In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
titanic = pd.read_csv("/Users/jbaafi/Desktop/titanic_data/titanic_cleaned.csv")
titanic.head()

   Survived  Pclass  Sex   Age     Fare  family_cnt  Cabin_ind
0         0       3    0  22.0   7.2500           1          0
1         1       1    1  38.0  71.2833           1          1
2         1       3    1  26.0   7.9250           0          0
3         1       1    1  35.0  53.1000           1          1
4         0       3    0  35.0   8.0500           0          0

Split data into train, validation and test set

In [4]:
features = titanic.drop("Survived", axis=1)
labels = titanic["Survived"]
x_train, x_test, y_train, y_test = train_test_split(features, labels, test_size = 0.4, random_state=42)
x_test, x_val, y_test, y_val = train_test_split(x_test, y_test, test_size = 0.5, random_state=42)

In [5]:
print(len(labels), len(y_train), len(y_val), len(y_test))

891 534 179 178

In [7]:
for dataset in [y_train, y_val, y_test]:
    print(round(len(dataset) / len(labels), 2))

0.6
0.2
0.2

Write out dataset

In [18]:
x_train.to_csv("/Users/jbaafi/Desktop/titanic_data/train_features.csv", index=False)
x_val.to_csv("/Users/jbaafi/Desktop/titanic_data/evaluation_features.csv", index=False)
x_test.to_csv("/Users/jbaafi/Desktop/titanic_data/test_features.csv", index=False)

y_train.to_csv("/Users/jbaafi/Desktop/titanic_data/train_labels.csv", index=False)
y_val.to_csv("/Users/jbaafi/Desktop/titanic_data/evaluation_labels.csv", index=False)
y_test.to_csv("/Users/jbaafi/Desktop/titanic_data/test_labels.csv", index=False)

/Users/jbaafi/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """
/Users/jbaafi/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.

/Users/jbaafi/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  import sys