In [17]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
import joblib
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [31]:
tr_features = pd.read_csv("/Users/jbaafi/Desktop/titanic_data/train_features.csv")
tr_labels = pd.read_csv("/Users/jbaafi/Desktop/titanic_data/train_labels.csv", header=None)

In [19]:
tr_features.head()

   Pclass  Sex   Age     Fare  family_cnt  Cabin_ind
0       2    0  62.0  10.5000           0          0
1       3    0   8.0  29.1250           5          0
2       3    0  32.0  56.4958           0          0
3       3    1  20.0   9.8250           1          0
4       2    1  28.0  13.0000           0          0

In [20]:
tr_labels.head()

   0
0  1
1  0
2  1
3  0
4  1

In [24]:
rf = RandomForestClassifier()
scores = cross_val_score(rf, tr_features, tr_labels.values.ravel(), cv=5)

In [25]:
scores

array([0.80555556, 0.82242991, 0.74766355, 0.78301887, 0.79245283])

Logistic Regression model

In [37]:
def print_results(results):
    print("BEST PARAMS: {}\n".format(results.best_params_))
    
    means = results.cv_results_["mean_test_score"]
    stds = results.cv_results_["std_test_score"]
    for mean, std, params in zip(means, stds, results.cv_results_["params"]):
        print("{} (+/-{}) for {}".format(round(mean, 3), round(std*2, 3), params))

In [38]:
lr = LogisticRegression()
parameters = {
    "C" : [0.001, 0.01, 0.1, 1, 10, 100, 1000]
}

cv = GridSearchCV(lr, parameters, cv=5)
cv.fit(tr_features, tr_labels.values.ravel())

print_results(cv)

BEST PARAMS: {'C': 1}

0.678 (+/-0.092) for {'C': 0.001}
0.704 (+/-0.099) for {'C': 0.01}
0.796 (+/-0.13) for {'C': 0.1}
0.798 (+/-0.123) for {'C': 1}
0.794 (+/-0.118) for {'C': 10}
0.794 (+/-0.118) for {'C': 100}
0.794 (+/-0.118) for {'C': 1000}

In [40]:
cv.best_estimator_

LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

write out pickled model

In [41]:
joblib.dump(cv.best_estimator_, "/Users/jbaafi/Desktop/titanic_data/LR_model.pkl")

['/Users/jbaafi/Desktop/titanic_data/LR_model.pkl']